.root {
  width: 793px;
  height: 680px;
  position: relative;
  margin-right: -159px;
}

.smallPokeBall {
  position: absolute;
  top: 5.41%;
  left: 7.84%;
}

.cloud {
  position: absolute;
  left: 6.31%;
  bottom: 37.22%;
}

.cloudBig {
  position: absolute;
  left: 49.86%;
  top: -3%;
}

.pokeBall {
  position: absolute;
  right: 0.1%;
  top: 0%;
}

.pikachu {
  position: absolute;
  top: 0%;
  left: 0%;
}
