.contentWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: calc(100vh - 114px);
  padding-top: 114px;
}

.contentPokedex {
  display: flex;
  flex-direction: column;
}

.contentTitle {
  margin-bottom: 34px;
  text-align: center;
}

.cardsWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
