.contentWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: calc(100vh - 114px);
  padding-top: 114px;
}

.contentPokedex {
  display: flex;
  flex-direction: column;
}

.contentTitle {
  margin-bottom: 34px;
  text-align: center;
}

.contentInputWrap {
  width: 100%;
  margin-bottom: 34px;
}
.contentInput {
  width: 95%;
  box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
  border-radius: 40px;
  background: #f2f2f2;
  outline: none;
  border: none;
  padding: 17px 24px;
  font-size: 16px;
  line-height: 20px;
}

.cardsWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
